table
{
    padding: 0;
    margin: 0;
}
p
{
    text-align: justify;
    font-family: Times New Roman;
}
#emding
{
    background:#EC7063 ;
    color: white;
}
#copy
{
   

td
{
    font-size: 35px;
