#first
{
    font-size: 45px;
    color: red;
    font-family: bold;

}

h1
{
 
    font-style: bold;
}

p

{
    text-align:justify;
    font-family: 'Times New Roman', Times, serif;
}
td
{
    font-style: 35px;
}